In [1]:
import pandas as pd

# 创建示例数据
df1 = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'David'], 'value': ['', 3, '', 5]})
df2 = pd.DataFrame({'name': ['Alice', 'Charlie', 'Eve', 'Frank'], 'value': [1, 2, 3, 4]})

# 将 df1 和 df2 按照 'name' 列进行合并，保留 df1 中的所有行和 df2 中的匹配行
merged = pd.merge(df1, df2, on='name', how='left')

# 根据您的要求，将 df1 中的空值替换为 df2 中相应行的值
for i, row in merged.iterrows():
    if row['value_x'] == '' and not pd.isna(row['value_y']):
        merged.at[i, 'value_x'] = row['value_y']

# 移除 'value_y' 列，并将 'value_x' 列重命名为 'value'
merged = merged.drop('value_y', axis=1).rename(columns={'value_x': 'value'})

In [2]:
merged

      name value
0    Alice   1.0
1      Bob     3
2  Charlie   2.0
3    David     5